{% extends 'base.html' %}
{% load static %}
{% block title %}
    Single Page
{% endblock %}

{% block content %}
    <main>


        <div class="resent-grid">
            <div class="projects">
                <div class="card">
                    <div class="card-header">
                        <h3>Кириш Хати</h3>

                        <button>See all <span class="fas fa-arrow-right"></span></button>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table width="100%">
                                <thead>
                                <tr>
                                    <td>Project</td>
                                    <td>Departament</td>
                                    <td>Status</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>UI/UX Designer</td>
                                    <td>UI Team</td>
                                    <td><span class="status purple"></span>review</td>
                                </tr>
                                <tr>
                                    <td>Web developer</td>
                                    <td>Fronted</td>
                                    <td><span class="status pink"></span>in progres</td>

                                </tr>
                                <tr>
                                    <td>Ushop app</td>
                                    <td>Mobile Team</td>
                                    <td><span class="status orange"></span>pending</td>

                                </tr>
                                <tr>
                                    <td>UI/UX Designer</td>
                                    <td>UI Team</td>
                                    <td><span class="status purple"></span>review</td>
                                </tr>
                                <tr>
                                    <td>Web developer</td>
                                    <td>Fronted</td>
                                    <td><span class="status orange"></span>in progres</td>

                                </tr>
                                <tr>
                                    <td>Ushop app</td>
                                    <td>Mobile Team</td>
                                    <td><span class="status pink"></span>pending</td>

                                </tr>
                                <tr>
                                    <td>UI/UX Designer</td>
                                    <td>UI Team</td>
                                    <td><span class="status purple"></span>review</td>
                                </tr>
                                <tr>
                                    <td>Web developer</td>
                                    <td>Fronted</td>
                                    <td><span class="status pink"></span>in progres</td>

                                </tr>
                                <tr>
                                    <td>Ushop app</td>
                                    <td>Mobile Team</td>
                                    <td><span class="status orange"></span>pending</td>

                                </tr>
                                <tr>
                                    <td>UI/UX Designer</td>
                                    <td>UI Team</td>
                                    <td><span class="status purple"></span>review</td>
                                </tr>
                                <tr>
                                    <td>Web developer</td>
                                    <td>Fronted</td>
                                    <td><span class="status orange"></span>in progres</td>

                                </tr>
                                <tr>
                                    <td>Ushop app</td>
                                    <td>Mobile Team</td>
                                    <td><span class="status pink"></span>pending</td>

                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3>Чикиш Хати</h3>

                    <button>See all <span class="fas fa-arrow-right"></span></button>
                </div>

                <div class="card-body">
                    <div class="customer">
                        <div class="info">
                            <img src="{% static 'factura/img/app_logo (1).png' %}" width="40" height="40" alt="">
                            <div>
                                <h4>Lewis S. Cunnngham </h4>
                                <small>CEO Expert</small>
                            </div>
                        </div>

                        <div class="contact">
                            <span class="fas fa-user-circle"></span>
                            <span class="fas fa-comment"></span>
                            <span class="fas fa-phone"></span>
                        </div>
                    </div>
                    <div class="customer">
                        <div class="info">
                            <img src="{% static 'factura/img/app_logo (1).png' %}" width="40" height="40" alt="">
                            <div>
                                <h4>Lewis S. Cunnngham </h4>
                                <small>CEO Expert</small>
                            </div>
                        </div>

                        <div class="contact">
                            <span class="fas fa-user-circle"></span>
                            <span class="fas fa-comment"></span>
                            <span class="fas fa-phone"></span>
                        </div>
                    </div>
                    <div class="customer">
                        <div class="info">
                            <img src="{% static 'factura/img/app_logo (1).png' %}" width="40" height="40" alt="">
                            <div>
                                <h4>Lewis S. Cunnngham </h4>
                                <small>CEO Expert</small>
                            </div>
                        </div>

                        <div class="contact">
                            <span class="fas fa-user-circle"></span>
                            <span class="fas fa-comment"></span>
                            <span class="fas fa-phone"></span>
                        </div>
                    </div>
                    <div class="customer">
                        <div class="info">
                            <img src="{% static 'factura/img/app_logo (1).png' %}" width="40" height="40" alt="">
                            <div>
                                <h4>Lewis S. Cunnngham </h4>
                                <small>CEO Expert</small>
                            </div>
                        </div>

                        <div class="contact">
                            <span class="fas fa-user-circle"></span>
                            <span class="fas fa-comment"></span>
                            <span class="fas fa-phone"></span>
                        </div>
                    </div>
                    <div class="customer">
                        <div class="info">
                            <img src="{% static 'factura/img/app_logo (1).png' %}" width="40" height="40" alt="">
                            <div>
                                <h4>Lewis S. Cunnngham </h4>
                                <small>CEO Expert</small>
                            </div>
                        </div>

                        <div class="contact">
                            <span class="fas fa-user-circle"></span>
                            <span class="fas fa-comment"></span>
                            <span class="fas fa-phone"></span>
                        </div>
                    </div>
                    <div class="customer">
                        <div class="info">
                            <img src="{% static 'factura/img/app_logo (1).png' %}" width="40" height="40" alt="">
                            <div>
                                <h4>Lewis S. Cunnngham </h4>
                                <small>CEO Expert</small>
                            </div>
                        </div>

                        <div class="contact">
                            <span class="fas fa-user-circle"></span>
                            <span class="fas fa-comment"></span>
                            <span class="fas fa-phone"></span>
                        </div>
                    </div>
                    <div class="customer">
                        <div class="info">
                            <img src="{% static 'factura/img/app_logo (1).png' %}" width="40" height="40" alt="">
                            <div>
                                <h4>Lewis S. Cunnngham </h4>
                                <small>CEO Expert</small>
                            </div>
                        </div>

                        <div class="contact">
                            <span class="fas fa-user-circle"></span>
                            <span class="fas fa-comment"></span>
                            <span class="fas fa-phone"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
{% endblock %}